<html>
  <head>
    <title>Controller | Twitch Television</title>
    <script src="/socket.io.js"></script>
    <script src="/controller.js"></script>
  </head>
  <body>
    this is the controller
  </body>
</html>
